dhg
numpy
torch
matplotlib
scikit-learn
pandas
python-dotenv
sentence-transformers
transformers
accelerate
scikit-learn
torchmetrics
torchvision
torchaudio
focal_loss_torch
openai
torch-geometric
torch_sparse
torch_scatter
tqdm